/***************** generelt *******************/
img{
    width: 100%;
    height: auto;
  
  }
  /***************** generelt *******************/
  /***************** header *******************/
  body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #959292;
    }
    
    .header {
      background-color: #333;
      color: #fff;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .logo {
      font-size: 44px;
      text-decoration: none;
      color: #fff;
    }
    
    .nav ul {
      list-style: none;
      display: flex;
    }
    
    .nav li {
      margin-right: 20px;
    }
    
    .nav a {
      text-decoration: none;
      color: #fff;
      font-size: 24px;
    }
    
    .nav a:hover {
      color: #70b7e7;
    }
    /***************** header *******************/
    /***************** footer *******************/
    .footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 10px;
      position: sticky;
      bottom: 0;
      width: 100%;
    }
    
    .footer p {
      margin: 0;
    }
      /***************** footer *******************/

      /***************** breadcrumbs **************/
      /* Reset default list styles */
.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
}


/* Style for breadcrumb items */
.breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}

/* Style for breadcrumb links */
.breadcrumbs li a {
  text-decoration: none;
  color: #333;
}
.breadcrumbs li a:hover {
  color: #70b7e7;
}


/* Style for the last breadcrumb (current page) */
.breadcrumbs li:last-child {
  color: #555;
}

article{
  position: relative;
}

article.soldOut::before{
  content: "SOLD OUT";
  padding: 1em;
  background-color: rgb(226, 112, 92);
  font-weight: bold;
  position: absolute;
  bottom: 40%;
  right: 31%;
}


article.onSale::after{
  content: "SALE";
  padding: 1em;
  background-color: rgb(193, 226, 28);
  font-weight: bold;
  position: absolute;
  bottom: 90%;
  right: 5%;
}
