/***************** kategori *******************/
.body1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .box {
    width: 30%;
    height: 130px;
    margin: 10px;
    background-color: #70b7e7;
    border-radius: 35px;
    text-align:center;
    display: flex; /* Add this to make the text container a flex container */
    justify-content: center; /* Center horizontally */
    align-items: center;
  }
  .body1 a {
 
    text-decoration: none;
    color: #342f2f;
    font-size: 24px;
  }
  .body1 a:hover {
    color: rgb(255, 255, 255);
  }
/***************** kategori *******************/
/***************** index *******************/

.forside {
text-decoration: none;
color: #0b0b0b;
font-size: 24px;     

}
.forside:hover {
color: #70b7e7;
}
ul{
list-style: none;
}
/***************** index *******************/
/***************** produktliste *******************/

.flexbox1 {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(150px, 290px)); /* Automatic columns with minimum width */
grid-gap: 20px; /* Gap between items */
padding: 10px;
margin-top: 6%;
}
article {
text-align: center;
}
.textbox{
line-height: 35%;
margin-bottom: 20%;
}
.textbox a {
display: inline-block; /* Makes the link behave like a block-level element */
padding: 10px; /* Add padding around the link content */
border: 2px solid #333; /* Border around the link */
border-radius: 5px; /* Rounded corners */
text-decoration: none; /* Remove default underline */
color: #333; /* Text color */
text-decoration: none;
color: #342f2f;
font-size: 20px;
}
.textbox a:hover {
color: #70b7e7;
}
.produktliste{
margin-left: 1.6%;
margin-top: 3%;
}
/***************** produktliste *******************/
/***************** produkt *******************/
.produkt{
display: grid;
grid-template-columns: 1fr 1fr;
margin: 5%;
}
.produkt img{
max-width: 450px;

}
